.filter-control {
    height: calc(100vh - #{$header_height});
    width: 453px;
    margin-right: -453px;
    transition: all 0.2s ease-in-out;
    &.show {
        margin-right: 0px;
    }
    &__search-container {
        i {
            position: absolute;
            padding: 0 10px;
            line-height: 38px;
            color: #8e8e8e;
        }
    }
    &__input {
        border-radius: 30px;
        padding-left: 30px;
        text-transform: uppercase;
    }
    & .react-calendar {
        width: 303px;
    }
}
