/* Utilities */

.grid-margin {
  margin-bottom: $card-spacing-y;
}
.grid-margin-sm-0 {
  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}
.grid-margin-md-0 {
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.grid-margin-lg-0 {
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}
.grid-margin-xl-0 {
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.img-lg {
  width: 92px;
  height: 92px;
}
.img-sm {
  width: 43px;
  height: 43px;
}
.img-md {
  width: 35px;
  height: 35px;
}
.img-xs {
  width: 32px;
  height: 32px;
}
.img-ss {
  width: 26px;
  height: 26px;
}
.stretch-card {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  > .card {
    width: 100%;
    min-width: 100%;
  }
}

.border-right-sm {
  @media (min-width: 576px) {
    border-right: $border-width solid $border-color;
  }
}
.border-right-md {
  @media (min-width: 768px) {
    border-right: $border-width solid $border-color;
  }
}
.border-right-lg {
  @media (min-width: 992px) {
    border-right: $border-width solid $border-color;
  }
}

.border-left-sm {
  @media (min-width: 576px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-md {
  @media (min-width: 768px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-lg {
  @media (min-width: 992px) {
    border-left: $border-width solid $border-color;
  }
}

.text-gray {
  color: #212529;
}

.text-black {
  color: $black;
}

.text-small,
small {
  font-size: 12px;
}

.flex-grow {
  flex-grow: 1;
}

.font-weight-light {
  font-family: $type1;
  font-weight: 300;
}

.font-weight-bold {
  font-family: $type1;
  font-weight: 700;
}

.font-weight-normal {
  font-family: $type1;
  font-weight: 400;
}

.cursor-pointer {
  cursor: pointer;
}

.dot-indicator {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.img-avatar {
  display: inline-block !important;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  &.img-avatar48 {
    width: 48px;
    height: 48px;
  }
  &.img-avatar-thumb {
    margin: 0.25rem;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.3);
  }
}
.font-weight-light {
  font-family: $type1;
  font-weight: 300;
}

.font-weight-medium {
  font-family: $type1;
  font-weight: 500;
}

// @media (min-width: 992px) {
//   .modal-lg,
//   .modal-xl {
//     max-width: 100%;
//   }
// }
.status-indicator {
  border-width: 2px;
  border-style: solid;
  border-color: #ffaf00;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  width: 8px;
  &.online {
    border-color: theme-color(success);
  }

  &.offline {
    border-color: theme-color(primary);
  }

  &.away {
    border-color: theme-color(warning);
  }
}
