.custom-pagination {
    .page-link {
        border: none;
        color: #919aa3;
        transition: 1s;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .page-item.active {
        .page-link {
            background: white !important;
            color: #565b61;
            transform: scale(1.2);
            outline: none;
            box-shadow: none;
            

            &:focus {
                box-shadow: none;
            }
        }

    }
}